{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h1>{{ stagiaire }}</h1>

    <p>Date de naissance : {{ stagiaire.dateNaissance|date('d-m-Y') }}</p>
    <p>Sexe : {{ stagiaire.sexe }}</p>
    <p>Domicile : {{ stagiaire.ville }}</p>
    {% if app.user %}
        <p>E-mail : {{ stagiaire.email }}</p>
        <p>Téléphone : {{ stagiaire.tel }}</p>
    {% endif %}

    <h2>Sessions auxquelles le(la) stagiaire est inscrit(e)</h2>
    
    {% if stagiaire.sessions | length == 0 %}
        <p>Ce stagiaire n'est inscrit à aucune session pour l'instant.</p>
    {% else %}
        {% for session in stagiaire.sessions %}
            <p><a href="{{ path('show_nonInscrits', {'id': session.id})}}">{{ session }}</a></p>
        {% endfor %}
    {% endif %}

{% endblock %}