{% extends 'base.html.twig' %}

{% block title %}Session | Détail{% endblock %}

{% block body %}

    <h1>{{ session }}</h1>

    <h2>Détails pratiques de la session</h2>

    <ul>
        <li>Date de début de session : {{ session.dateDebut|date('d-m-Y') }}</li>
        <li>Date de fin de session : {{ session.dateFin|date('d-m-Y') }}</li>
        <li>Nombre de places total : {{ session.nbPlaces }}</li>
        <li>Nombre de places réservées : {{ session.placesReservees }}</li>
        <li>Nombre de places disponibles : {{ session.placesLibres }}</li>
    </ul>

    <h3>Programme de la session</h3>

    {% if app.user %}    
        <a href="{{ path('app_module') }}">Ajouter un module</a>
    {% endif %}
    
    <div>
        <table>
            <thead>
                <tr>
                    <th>Modules</th>
                    <th>Catégories</th>
                    <th>Nombre de jours</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for programme in session.programmes %}
                    <tr>
                        <td>{{ programme.moduleForma }}</td>
                        <td>{{ programme.moduleForma.categorie }}</td>
                        <td>{{ programme.nbJours }}</td>
                        {% if app.user %}
                            <td><a href="{{ path('delete_programme', {'idSe': session.id, 'idProg': programme.id}) }}">Annuler le module</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if app.user %}
            <table>
                <thead>
                    <tr>
                        <th>Modules</th>
                        <th>Catégories</th>
                        <th>Nombre de jours</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for programme in nonProgrammes %}
                        <tr>
                            <form method="post" action="{{ path('log_programme', {'idSe': session.id, 'idProg': programme.id}) }}">
                                <td>{{ programme.intitule }}</td>
                                <td>{{ programme.categorie }}</td>
                                <td><input type="number" id="nbJours" name="nbJours" min="1" required> jours</td>
                                <td><input type="submit" name="submit" value="Ajouter au programme"></td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <h2>Liste des stagiaires inscrits à la session</h2>

    {% for stagiaire in session.stagiaires %}
        <p>
            <a href="{{ path('profil_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a>
            {% if app.user %}  
                <a href="{{ path('delete_stagiaire', {'idSt': stagiaire.id, 'idSe': session.id}) }}">Désinscrire</a>
            {% endif %}
        </p>
    {% endfor %}

    {% if app.user %}
        <h2>Liste des stagiaires non inscrits à la session</h2>
        
        {% for nonInscrit in nonInscrits %}
            <p>
                <a href="{{ path('profil_stagiaire', {'id': nonInscrit.id}) }}">{{ nonInscrit }}</a>
                <a href="{{ path('log_stagiaire', {'idSt': nonInscrit.id, 'idSe': session.id}) }}">Inscrire</a>
            </p>
        {% endfor %}
    {% endif %}

{% endblock %}
