{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}

    <h1>Liste des sessions</h1>

    <table>
        <thead>
            <tr>
                <th>Intitulé de session</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nombres de places total</th>
                <th>Nombres de places réservées</th>
                <th>Nombre de places libres</th>
                <th>Détail du programme</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td><a href="{{ path('detail_session', {'id': session.id}) }}">{{ session.intitule }}</a></td>
                <td>{{ session.dateDebut|date('d-m-Y') }}</td>
                <td>{{ session.dateFin|date('d-m-Y') }}</td>
                <td>{{ session.nbPlaces }}</td>
                <td>{{ session.placesReservees }}</td>
                <td>{{ session.placesLibres }}</td>
                <td><a href="">Programme</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
